* {
    margin: 0;
    padding: 0;
    font-family: 'Domine', serif;
}

html,body{
    overflow-x: hidden;
}

section {
    padding: 50px 0;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Domine', serif;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 9999;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 10px 0 ;
    background: #C1C8E4;
}

.navbar .menu li a:hover {
    color: #5680E9;
}

.navbar .logo a:hover {
    color: #5680E9;
}

.icon_linkedin a:hover {
    color: #5680E9;
}

.navbar_maxwidth {
    max-width: 2000px;
    padding: 0px 80px;
    padding-left:50px;
    margin: auto;
}

.navbar .navbar_maxwidth {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    padding: 25px 10px;
    position:relative;
}

 .navbar .menu li a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 20px;
    text-decoration: none;     
 }
 
 .navbar .logo{
   margin-top:10px;
   margin-right:290px;
}
    
.navbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
    text-decoration:none;
}

.navbar .icon_linkedin{
    margin-top:20px;   
}

.icon_linkedin .link_profile {
    font-size: 18px;
    text-decoration: none;
    margin-left: -250px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 30px;
    color:black;
}

/*Menu button styling*/
.navbar .menu-btn{
    position:absolute;
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

/*Home Section*/
.home {
    display: flex;
    height: 100vh;
    font-family: 'Domine', serif;
    position: relative;
}

.home .content{
    position:absolute;
}

.home .content .content_describe{
    position:absolute;
    width:680px;
    height:350px;
    border: 2px solid black;
    margin-left: -160px;
    margin-top: 55px;
    z-index:2;
    background:white;
    border-radius: 10px;
}

.img_div {
    margin-left: -490px;
    margin-top: -220px;
}

.img1 {
    position: absolute;
    border-radius: 10px;
    width: 400px;
    height: 460px;
    z-index: 1;
}

.home .content .content_describe .content_1 {
    margin-left: 160px;
    margin-top: 30px;
    color:black;
    font-size:30px;
}

.home .content .content_describe p {
    text-align: justify;
    padding-right: 35px;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 45px;
    font-size: 18px;
    font-family: 'Domine', serif;
    line-height: 2.0;
    overflow-wrap: break-word;
    color: black;
}

/*Skill Section*/
.skills h2{
    margin-top:-150px;
}

.skills {
    display: flex;
    height: 100vh;
    font-family: 'Domine', serif;
    position: relative;
}

.skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
   
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}

.skills .skills-content .left p {
    text-align: justify;
    font-size: 18px;
    font-family: 'Domine', serif;
    line-height: 2.0;
    overflow-wrap: break-word;
    color: black;
}

.skills .skills-content .left a {
    display: inline-block;
    background: #5AB9EA;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 100px;
    border-radius: 10px;
    border: 2px solid #2196f3;
    transition: all 0.3s ease;
}

.skills .skills-content .right{
    margin-top: 100px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #5AB9EA;
}

.skills-content .right .csharp::before {
    width: 90%;
    animation: csharp 5s infinite;
}

.skills-content .right .html::before {
    width: 80%;
    animation: html 5s infinite;
}

.skills-content .right .js::before {
    width: 70%;
    animation: js 5s infinite;
}

.skills-content .right .css::before {
    width: 60%;
    animation: css 5s infinite;
}

.skills-content .right .sql::before {
    width: 70%;
    animation: sql 5s infinite;
}

@keyframes csharp{
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes html{
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes js{
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes css{
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@keyframes sql{
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

/*Recommendation section*/
.recommendation {
    position: relative;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 16px;
    font-family: 'Domine', serif;
    line-height: 2.0;
    overflow-wrap: break-word;
    color: black;
}

.recommendation h2{
   margin-top: 50px;
}

.recommendation .swiper-container {
    width: 100%;
    padding-top: 190px;
    padding-bottom: 50px;
}

.recommendation .swiper-container .swiper-pagination{
    top: 530px;
}

.recommendation .swiper-slide {
    background-position: center;
    width: 600px;
    height: 350px;
    top: -100px;
    padding: 20px 20px 30px;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0,2);
    filter: blur(4px);
}

.recommendation .swiper-slide-active{
    filter: blur(0px);
    background:#fff;
}

.recommendation .swiper-slide .content .quoteicon{
    margin-left: 570px;
    color: #5680E9;
}

.recommendation .swiper-slide .details{
    display:flex;
}

.recommendation .swiper-slide .details h3 {
    color: #5680E9;
    line-height: 1.1em;
    margin-top: 50px;
    margin-left: 50px;
}

.recommendation .swiper-slide .details h3 span{
    font-size: 12px;
    color: black;
}

.recommendation .swiper-slide .imgIcon{
      margin-top: 40px;
}

.recommendation .swiper-slide .imgIcon .sujayimg, 
.swapnilimg, .riteshimg{ 
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background:white;
}

.recommendation .swiper-container .swiper-pagination .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    outline: none !important;
    border: 2px solid #29648A !important;
 
}

.recommendation .swiper-container .swiper-pagination .swiper-pagination-bullet-active,
.recommendation .swiper-container .swiper-pagination .swiper-pagination-bullet:hover {
    background: #5680E9 !important;
}

 /*Hobbies Section */
.myhobbies {
    position: relative;
    display: flex;
    height: 100vh;
    min-height:500px;
    color: black;
    font-family: 'Domine', serif;
    justify-content: center;
    align-items: center;
}

.myhobbies h2{
    margin-top: 120px;
}

.myhobbies .carousel .hobby {
    margin-top: 100px;
    background: #C2CAD0;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
    
.myhobbies .carousel .hobby:hover {
    background: #5AB9EA;
}

.myhobbies .carousel .hobby .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.myhobbies .carousel .hobby:hover .box {
    transform: scale(1.05);
}

.myhobbies .carousel .hobby img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #5AB9EA;
    transition: all 0.3s ease;
}

.myhobbies .carousel .hobby:hover img {
    border-color: #29648A;
}

.myhobbies .carousel .hobby .text {
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #29648A !important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.owl-dot.active,
.owl-dot:hover {
    background: deepskyblue !important;
 }

/*Contact Section*/
.contactme {
    height: 100vh;
    font-family: 'Domine', serif;
    position: relative;
    display:flex;
}

.contactme .contact-content{
    justify-content:center;
    align-items: center;
    margin-top: 100px;
    margin-left:200px;
    width:100%;
}

.contactme h2 {
    margin-top: -100px;
}

.contactme .contact-content .icons i:hover {
    color: pink;
    transform: scale(1.25);
}

.contactme .contact-content .row {
    line-height: 1.5;
    background: #5AB9EA;
    border-radius: 20px;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    margin:2%;
}

 .contactme .contact-content .row:hover{
     transform: scale(1.05);
 }

.contactme .contact-content .icons{
    margin-right:400px;
}

.contactme .contact-content .row .info {
    margin-left: 40px;
    margin-top: -30px;
}

.contactme .contact-content .row i {
    font-size: 25px;
    margin-right: 200px;
}

.contactme .contact-content .info .head {
    font-weight: 500;
    font-size: 18px;
}

.contactme .contact-content .info .sub-title {
    color: black;
    font-size: 18px;
}

/*Footer section*/

.truck-container {
    position: absolute;
    width: 450px;
    left: -300px;
    animation: towtruck 10s linear infinite;
    margin-top:-230px;
}

.truck-top1 img {
    width: 100%;
}

.wheel1,
.wheel2 {
    width: 42px;
    height: 42px;
    background-color: grey;
    border-radius: 50%;
    border: 8px solid black;
    position: absolute;
    bottom: 0;
    animation: wheelsRotation 1s infinite linear;
}

.wheel1 {
    left: 57%;
    top: 65%;
}

.wheel2 {
    right:8%;
    top: 65%;
}

.wheel1-top,
.wheel2-top {
    bottom: 20px;
    position: absolute;
    width: 50px;
    height: 80px;
    border-radius: 10%;
    z-index: 5;
}

.wheel-dot1,
.wheel-dot2 {
    width: 7px;
    height: 12px;
    background-color: black;
    position: absolute;
}

.wheel-dot3,
.wheel-dot4 {
    width: 12px;
    height: 7px;
    background-color: black;
    position: absolute;
}

.wheel-dot1 {
    top: 10%;
    left: 40%;
}

.wheel-dot2 {
    bottom: 10%;
    left: 40%;
}

.wheel-dot3 {
    top: 40%;
    right: 10%;
}

.wheel-dot4 {
    top: 40%;
    left: 10%;
}

@keyframes wheelsRotation {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes towtruck {
    100% {
        left: 100%;
    }
}

.footerspan {
    width: 250%;
    height: 10px;
    background-color: #585858;
    border-top: 10px solid #756D6D;
    border-bottom: 20px solid #756D6D;
    position: absolute;
    padding: 0;
}

.copyright{
    color:white;
    display:inline-block;
    margin-left:19.5%;
}

.copyright:hover{
    color:pink;
}

/* Responsive website */
@media screen and (max-width: 800px) {
    .navbar .navbar_maxwidth {
            max-height: 100px;
        }

        .navbar .logo {
            position: relative;
            margin: 100px auto;
            margin-top: 25px;
            margin-left: 210px;
        }

        .navbar .logo a {
            align-items: center;
        }

        .icon_linkedin {
            width: 50px;
        }

        .icon_linkedin .link_profile span {
            display: none;
        }

        .icon_linkedin .link_profile {
            border: none;
        }

        .icon_linkedin .link_profile i {
            font-size: 45px;
            padding: 0 50px;
            margin-left: 120px;
            margin-top: 0px;
        }

        .navbar .menu-btn {
            padding: 0 50px;
            font-size: 30px;
            display: block;
            margin-left: 25px;
            margin-top: -75px;
            z-index: 1001;
        }

        .menu-btn i.active:before {
            content: "\f00d";
        }

        .navbar .menu .menu-close {
            display: block;
            margin-left: 250px;
            margin-top: -40px;
        }

        .navbar .menu {
            position: fixed;
            height: 100vh;
            width: 35%;
            top: 0;
            left: -400px;
            background: #C1C8E4;
            text-align: center;
            padding-top: 180px;
            z-index: 2;
            transition: 1s;
        }

        .navbar .menu.active {
            left: 0;
        }

        .navbar .menu li {
            display: block;
        }

        .navbar .menu li a {
            color: black;
            display: inline-block;
            font-size: 20px;
        }

        .img_div {
            display: none;
        }

        .home .content .content_describe {
            position: absolute;
            width: 400px;
            height: 460px;
            border: 2px solid black;
            margin-left: -190px;
            margin-top: -200px;
            z-index: 2;
            background: white;
            border-radius: 10px;
        }

        .home .content .content_describe .content_1 {
            margin-left: 20px;
            margin-top: 20px;
            color: black;
            font-size: 25px;
            font-weight: 600;
        }

        .home .content .content_describe p {
            text-align: justify;
            padding-right: 35px;
            padding-left: 20px;
            margin-left: 2px;
            margin-top: 40px;
            font-size: 18px;
            font-family: 'Domine', serif;
            line-height: 2.0;
            overflow-wrap: break-word;
            color: black;
        }

        .skills .skills-content .column {
            margin-top: 50px;
        }

        .skills .skills-content .left p {
            margin-top: -90px;
        }

        .recommendation .swiper-slide {
            background-position: center;
            width: 400px;
            height: 500px;
            top: -100px;
        }

        .recommendation .swiper-slide .content .quoteicon {
            margin-left: 350px;
        }

        .recommendation .swiper-container .swiper-pagination {
            top: 700px;
        }

        .myhobbies h2 {
            margin-top: 150px;
        }

        .contactme h2 {
            margin-left: -160px;
        }

        .contactme .contact-content {
            margin-left: 140px;
        }
        
        .truck-top1 img {
            width: 80%;
            height:auto;
        }

        .wheel1,
        .wheel2 {
            width: 30px;
            height: 30px;
        }

        .wheel1 {
            left: 45%;
            top: 65%;
        }

        .wheel2 {
            right: 25%;
            top: 65%;
        }

        .truck-container {
            margin-top: -184px;
        }

        .copyright{
           margin-left:350px;
        }
    }

    @media screen and (max-width: 1400px) {

        .navbar_maxwidth {
            padding: 0px 0px;
            padding-left: 0px;
        }
    }
